<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div style="margin-bottom:3%" class="container">
				<h1 th:text="#{app.title}"></h1>
			</div>
			
			<div style="padding-left:2%; padding-right:2%;" class="row">
			
				<div style="" class="col-md-4">
					<div class="row">
						<div style="height:200px;" class="panel panel-default">
							<div class="panel-body">
								<h3 th:if="${loggedIn} == false" class="text-center" th:text="#{content.home.title.becomePledger}"></h3>
								<h3 th:if="${loggedIn} == true" class="text-center" th:text="#{content.home.title.twitter}"></h3>
								
								<p th:if="${loggedIn} == false" class="text-center" th:text="#{content.home.text.becomePledger}"></p>
								<p th:if="${loggedIn} == true" class="text-center" th:text="#{content.home.text.twitter}"></p>
								
								<div th:if="${loggedIn} == false" class="text-center" >
									<form method="get" action="/registration">
						   				<button class="btn btn-primary" th:text="#{content.home.button.becomePledger}" type="submit">Continue</button>
									</form>
								</div>
								
								<div th:if="${loggedIn} == true" class="text-center" >
									<a href="https://twitter.com/?lang=en">
						   				<button class="btn btn-primary" th:text="#{content.home.button.twitter}">Continue</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			

				<div style="padding-left:2%;" class="col-md-4">
					<div class="row">
						<div style="height:200px;" class="panel panel-default">
							<div class="panel-body">
								<h3 class="text-center" th:text="#{content.home.title.Pledge}"></h3>
								<p class="text-center" th:text="#{content.home.text.Pledge}"></p>
								<div class="text-center" >
									<form method="get" action="/projects">
						   				<button class="btn btn-primary" th:text="#{content.home.button.Pledge}" type="submit">Continue</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			
				
				<div style="padding-left:2%;" class="col-md-4">
					<div class="row">
						<div style="height:200px;" class="panel panel-default">
							<div class="panel-body">
								<h3 th:if="${loggedIn} == false" class="text-center" th:text="#{content.home.title.login}"></h3>
								<h3 th:if="${loggedIn} == true" class="text-center" th:text="#{route.logout}"></h3>
								
								<p th:if="${loggedIn} == false" style="margin-bottom:5%" class="text-center" th:text="#{content.home.text.login}"></p>
								<p th:if="${loggedIn} == true" style="margin-bottom:5%" class="text-center" th:text="#{content.home.text.logout}"></p>
								
								<div th:if="${loggedIn} == false"  class="text-center" >
									<form method="get" action="/login">
						   				<button class="btn btn-primary" th:text="#{content.home.title.login}" type="submit">Continue</button>
									</form>
								</div>
								
								<div th:if="${loggedIn} == true"  class="text-center" >
									<form th:action="@{/logout}" method="post">
            							<button class="btn btn-danger" type="submit" th:text="#{route.logout}"></button>
						      		</form>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</body>
</html>